{% extends 'base.html' %}

{% block content %}
<div style="max-width: 1350px;margin: auto;">
    <div style="padding-top: 17px!important;">
        <div style="margin-top:27px;margin-bottom:0px;">


            <div class=" d-flex justify-content-between">
                <span class="d-flex" style="font-size: 1.2rem; line-height: 1.1;">
                    <svg viewBox="0 0 24 24" style="font-size: 1.3rem!important;fill: currentColor;width: 1em;height: 1em;display:
                    inline-block;font-size: 1.5rem;transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;flex-shrink:
                    0;user-select: none;margin-right: 2px!important;">
                        <path
                            d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z">
                        </path>
                    </svg>
                    Atualizados
                </span>
                <a href="{% url 'animes:index' %}" style="margin: -2px 7px 2px 10px;">
                    <button class="btn btn-sm" style="color:#ccc;font-size: 12px; font-weight: 300;">
                        Ver todos
                        <span class="ripple"></span>
                    </button>
                </a>
            </div>
        </div>
        <div style="margin-top:27px!important;margin-bottom:7px!important;">
            <div class=" d-flex justify-content-between">
                <span class="d-flex" style="font-size: 1.2rem; line-height: 1.1;">
                    <svg viewBox="0 0 24 24" style="font-size: 1.3rem!important;fill: currentColor;width: 1em;height: 1em;display:
                    inline-block;font-size: 1.5rem;transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;flex-shrink:
                    0;user-select: none;margin-right: 2px!important;">
                        <path
                            d="M3 5H1v16c0 1.1.9 2 2 2h16v-2H3V5zm18-4H7c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm0 16H7V3h14v14z">
                        </path>
                    </svg>
                    Recém adicionados
                </span>
                <a href="{% url 'animes:index' %}" style="margin: -2px 7px 2px 10px;">
                    <button class="btn btn-sm" style="color:#ccc;font-size: 12px; font-weight: 300;">
                        Ver todos
                        <span class="ripple"></span>
                    </button>
                </a>
            </div>
            <div class="owl-carousel owl-theme">
                {% for anime in animes_featured %}
                <div class="item">
                    <a href="">
                        <img src="{{anime.image.url}}" alt="">
                        <div class="card-footer text-center">
                            2 days ago
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>
{% endblock js %}